<div class="header">
    <h1> {{title}}</h1>
    <p>Welcome to {{title}}</p>
    <a href="/login">Secret Stuff Here</a>
</div>

<div id="regcontainer">
    <h1> {{title}} </h1>
    <h1> Your User ID = {{userid}} </h1>
    <h1> Your Username = {{username}} </h1>
    <h1> Your Email = {{email}} </h1>

</div>